
body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;

}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-areas:
    "pb pb pb pb pb pb pb pb pb pb pb pb"
    "f1 f1 f1 f1 f1 f1 f2 f2 f2 f2 f2 f2"
    "mc mc mc mc mc mc mc mc mc mc mc mc"
    "he he he he he he he he he he he he"
}

.pagebanner {
    grid-area: pb;

    background-color: sandybrown;
    text-align: center;
}

.pagebanner img {
    float: none;
}

.founder1 {
    grid-area: f1;
    background-color: aquamarine;
}

.founder2 {
    grid-area: f2;
    background-color: red;
}
.main-content{
    grid-area: mc
}

header{
    grid-area: h;
}
footer{ 
    grid-area: f;
}

header,
footer {
    background-color: #777999;
    padding: 2em 0;
}

.hero {
    grid-area: he;
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}





main {
    margin-bottom: 2em;
}