---
layout: base
---
<div class="pagebanner">
    <img src="assets\images\frontpic.jpg" alt="Picture of the front of the War Memorial">
    <p>{{bannertext}}</p>
    <h1>{{founder1.head}}</h1>

</div>

<div class="founder1">
    <h2>{{founder1.title}}</h2>
    <div>
        <img src="assets\images\CharlesBean.jpg" alt="Charles Bean Image">
    </div>
    <p>{{founder1.text}}</p>

</div>

<div class="founder2">
    <h2>{{founder2.title}}</h2>
    <div>
        <img src="assets\images\JohnTreloar.jpg" alt="John Treloar Image">
    </div>
    <p>{{founder2.text}}</p>
</div>

<div class="main-content">
    {{ content }}
</div>

<div class="hero">
    <h2>{{hero.title }}</h2>
</div>
