---
layout: base
---
<div class="pagebanner">
    <img src="assets\images\frontpic.jpg" alt="Picture of the front of the War Memorial" width="1008" height="580">
    <p>{{bannertext}}</p>
    <h1>{{founder1.head}}</h1>

</div>

<div class="founder1">
    <h2>{{founder1.title}}</h2>
    <div>
        <img src="assets\images\CharlesBean.jpg" alt="Charles Bean Image">
    </div>
    <p>{{founder1.text}}</p>

</div>

<div class="founder2">
    <h2>{{founder2.title}}</h2>
    <div>
        <img src="assets\images\JohnTreloar.jpg" alt="John Treloar Image">
    </div>
    <p>{{founder2.text}}</p>
</div>

<div class="main-content">
    {{ content }}
</div>


<div class="hero">
    <h1>{{hero.title}}</h1>
    <img src="assets\images\79862726ff1c1cbaf4941dbae4ba68f4.webp" alt="John Treloar Image" width="480" height="360">
    <img src="assets\images\a25c1045784a8827d14d9543812b197b8bc3287b-16x9-x0y62w640h360.jpg" alt="John Treloar Image" width="480" height="360">
    <img src="assets\images\AWM1-Whole-precinct1.jpg" alt="John Treloar Image" width="480" height="360">
    <img src="assets\images\maxresdefault.jpg" alt="John Treloar Image" width="480" height="360">
    <img src="assets\images\paiu2011_026_56-dome1.jpg" alt="John Treloar Image" width="480" height="360">
    <img src="assets\images\aus_warmemorial+-+3.jpg" alt="John Treloar Image" width="480" height="360">
</div>

